################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Attribute/v16/Server/sqlite3/db.lock
.vs/Attribute/v16/Server/sqlite3/storage.ide-shm
.vs/Attribute/v16/Server/sqlite3/storage.ide-wal
.vs/Attribute/v16/.suo
*.ide
.vs/Attribute/v16/.suo
.vs/Attribute/v16/Server/sqlite3/storage.ide
.vs/Attribute/v16/Server/sqlite3/storage.ide-shm
.vs/Attribute/v16/Server/sqlite3/storage.ide-wal
